{% extends 'site_base.html' %}

{% load staticfiles %}

{% block scripts %}
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet-providers.js' %}"></script>
    <script src="{% static 'js/details.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}"/>
{% endblock %}

{% block content %}
    <article class="event">
        <header>
            <h1>
                {{ event.name }}
            </h1>
        </header>

        <p><strong>{{ event.date }} at {{ event.time }}</strong></p>

        <p>{{ event.attending_total }} people going</p>

        <div class="col-lg-8">
            <p class="description">
                {{ event.description }}
            </p>


            {% if event.genres %}
                <strong>Genres:</strong>
                <ul>
                    {% for genre in event.genres %}
                        <li class="label">{{ genre }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            {% if event.artists %}
                <p>Artists:</p>
                <ul class="artists">
                    {% for artist in event.artists %}
                        <li>
                            <h3>{{ artist.name }}</h3>
                            <div>
                                <img class="col-lg-4" src="{{ artist.thumbnail }}" alt="photo"/>
                                <p class="col-lg-8">{{ artist.comment }}</p>
                            </div>
                            <p class="artist-sample">{{ artist.sample_html|safe }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>

        <div class="col-lg-4">
            <img class="img-responsive img-rounded" src="{{ event.image_url }}" alt=""/>

            <hr/>

            <p>@ {{ event.venue }}</p>

            <div id="map" data-lat="{{ event.latitude }}" data-lng="{{ event.longitude }}"></div>
        </div>

    </article>
{% endblock %}
