{% extends 'site_base.html' %}

{% load staticfiles %}
{% load socialaccount %}

{% block scripts %}
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/list.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container-fluid text-center">

    <h2>Suggested Events</h2>
    <div id="suggested">
    {% for event in suggested_events %}

        <article class="event-card panel panel-primary" data-details-url="{% url 'event_details' event.id %}">
            <header class="panel-heading">
                <h1 class="panel-title text-center">{{ event.name }}</h1>
                <br/>
                <p class="date text-center">{{ event.date }} at {{ event.time }}</p>
            </header>


            <div class="card-body">
                <img class="img-rounded img-responsive" src="{{ event.image_url }}" alt=""/>

                <ul class="text-center">
                    {% for genre in event.genres %}
                        <li class="label label-info">{{ genre }}</li>
                    {% endfor %}
                </ul>

                <div class="venue-textbox text-center">
                    <p>
                        @ {{ event.venue }}
                    </p>
                </div>
            </div>
        </article>

    {% endfor %}
    </div>
    </div>
    <div class="container-fluid text-center">
    {% if not suggested_events %}
        <p>You have to
            <a title="Facebook" class="socialaccount_provider facebook"
                href="{% provider_login_url 'facebook' process=process %}">
                log in
            </a>
        to get suggestions.</p>
    {% endif %}

    <h2>Top Events</h2>
    <div id="top">
    {% for event in top_events %}

        <article class="event-card panel panel-primary" data-details-url="{% url 'event_details' event.id %}">
            <header class="panel-heading">
                <h1 class="panel-title text-center">{{ event.name }}</h1>
                <br/>
                <p class="date text-center">{{ event.date }} at {{ event.time }}</p>
            </header>


            <div class="card-body">
                <img class="img-rounded img-responsive" src="{{ event.image_url }}" alt=""/>

                <ul class="text-center">
                    {% for genre in event.genres %}
                        <li class="label label-info">{{ genre }}</li>
                    {% endfor %}
                </ul>

                <div class="venue-textbox text-center">
                    <p>
                        @ {{ event.venue }}
                    </p>
                </div>
            </div>
        </article>

    {% endfor %}
    </div>
    </div>

{% endblock %}
