{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Amsterdam Vibe</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootflat.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

    <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Amsterdam Vibe</a>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% block scripts %}
{% endblock %}
</body>
</html>
